.header {
    padding: 41px 0;
    background: var(--linear);
    color: var(--white);
    height: auto;
    overflow: hidden;

    .logo{
        max-width: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 10px;

        p{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            cursor: pointer;
        }

        a{
            text-decoration: none;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            cursor: pointer;
            color: var(--white);
        }
    }
}

@media (max-width: 932px){
    .logo{
        margin: 0 25px !important;
    }
    .search{
        margin: 0 25px ;
    }
}

@media (max-width: 768px){
    .logo{
        p{
            font-size: 22px !important;
        }
    }
}