.post{
    height: auto;
    background: var(--white);
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 25px;

    .img{
        img{
            height: 400px;
            width: 100%;
        }
    }

    .header_post{
        padding: 25px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;

        span{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: var(--text);
        }

        .like{
            height: 25px;
            width: 25px;
            color: #3F9EDB;
            cursor: pointer;
        }

    }

    .body_post{
        padding: 0 25px 10px 25px;
        text-align: left;

        h3{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 26px;
            margin-bottom: 8px;

            a{
                color: var(--title);
                text-decoration: none;
            }
            
            :hover{
                text-decoration: 3px underline var(--title);
            }
        }

        p{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: var(--text);
        }
    }
}

@media (max-width: 768px){
    .header-post{
        span{
            font-size: 14px !important;
        }
        img{
            width: 20px !important;
            height: 20px !important;
        }
    }

    .body-post{
        h3{
            font-size: 24px !important;
        }

        p{
            font-size: 16px !important;
        }
    }
}