.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0 0 0;
    overflow: hidden;

    .main_header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        button{
            background: transparent;
            padding: 10px 10px;
            border: none;
            border-radius: 8px;
            color: green;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .table{
        background-color: white;
        border-radius: 8px;
        text-align: center;
        overflow: hidden;

        .tableHeader{

            th{
                padding: 20px 30px;
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
        }

        .tableBody{

            
                td{
                    padding: 20px 30px;
                    font-family: 'Lexend Deca', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                   
                    max-width: 200px;
    
                    p{
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .delete{
                    color: rgb(212, 17, 3);
                    cursor: pointer;
                }
    
                .edit{
                    color: #3F9EDB;
                    cursor: pointer;
                }
            
        }
    }
}

@media (max-width: 768px) {
    .main_header{
        
        button{
            font-size: 14px !important;
        }
    }
    .table{
        overflow: hidden !important;
        margin: 0 1rem !important;
        .tableHeader{
            th{
                padding: 1rem 0.5rem !important;
                font-size: 14px !important;
            }
        }
        .tableBody{
            td{
                padding: 1rem 0.5rem !important;
                font-size: 12px !important;
                max-width: 100px !important;
            }
        }
    }
}