.overlay{
    background: rgba(242,243,245,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        background: var(--white);
        width: 100%;
        max-width: 400px;
        padding: 2rem 3rem;
        border-radius: 5px;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
        text-align: center;
        position: relative;


        .input{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;


            input{
                border-radius: 5px;
                padding: 0.5rem 0.8rem;
                border: none;
                border: 1px solid var(--input);
                font-size: 15px;
                outline: none;
                color: var(--dark);
                margin: 0.8rem 0;
            }
        }

        .inputAd{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            
            input{
                border-radius: 5px;
                padding: 0;
                border: none;
                border: 1px solid var(--input);
                font-size: 15px;
                outline: none;
                color: var(--dark);
                margin: 0.6rem 0.2rem;
            }
        }
        
        .buttonDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.6rem auto;

            button{
                background: var(--text);
                border-radius: 5px;
                padding: 0.5rem 0.8rem;
                border: none;
                border: 1px solid var(--input);
                margin-right: 0.3rem;
                cursor: pointer;
            }
        }
    }
}

