.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0 0 0;

    .main_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 20px;

        h3{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 24px;
            cursor: pointer;
            margin: 0 15rem 0 0;
        }
        
        button{
            background: transparent;
            padding: 10px 10px;
            border: none;
            border-radius: 8px;
            color: green;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .table{
        background-color: white;
        border-radius: 8px;
        text-align: center;

        .tableHeader{

            th{
                padding: 20px 30px;
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
        }

        .tableBody{

            td{
                padding: 20px 30px;
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}